wikipedia==1.4.0
gTTS==2.0.3
pynput==1.4.2
wolframalpha==3.0.1
winshell==0.6
textblob==0.15.3
pywin32==224
psutil==5.6.2
playsound==1.2.2
selenium==3.141.0
SpeechRecognition==3.8.1
pyttsx3==2.7
twilio==6.26.3
